<footer data-turbolinks-permanent class="print:hidden w-full static py-10 border-t border-gray-400">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="flex flex-col md:flex-row justify-center content-center items-center w-full">
        <div class="px-10 text-center md:text-left">
        {%- if site.author %}
            <ul class="contact-list">
            {% if site.author.name -%}
                <li>{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
                <li><a class="text-indigo-400 no-underline hover:underline" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
            <li class="text-xs mt-2">Logo by <a target="_blank" href="https://www.instagram.com/squid.lyds/" class="text-indigo-400 hover:underline">Lydia Bullock</a></li>
            </ul>
        {%- endif %}
        </div>
        <div class="max-w-lg px-10 text-center md:text-left">
            <p>{{ site.description | escape }}</p>
        </div>
    </div>
    <div class="w-1/2 md:w-1/4 border border-gray-400 text-gray-600 h-8 p-5 mt-10 mx-auto flex justify-between content-center items-center">
    {%- include social.html -%}
    </div>
</footer>
