@import url('https://fonts.googleapis.com/css?family=Kalam|Noto+Sans|Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Write your styles below this line. */
.linenumber {
    @apply mr-5;
    @apply border-r;
}

.prose ul > li.list-none::before,
.prose ol > li.list-none::before {
    display: none;
}
.prose ul > li.list-none,
.prose ol > li.list-none {
    padding-left: 0;
}

@media print {
    .prose ul > li,
    .prose ol > li {
        padding-left: 0;
    }
    .prose ul > li::before,
    .prose ol > li::before {
        display: none;
    }
}

.bg-gradient {
    background-image: linear-gradient(theme(colors.indigo.400), transparent);
}

/* Github flavoured markdown, thanks to: https://github.com/iandinwoodie/github-markdown-tailwindcss */

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    @apply border-b;
}

.prose code {
    @apply font-mono;
    @apply text-sm;
    @apply inline;
    @apply bg-gray-200;
    @apply rounded;
    @apply px-1;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.prose code::before, .prose code::after {
    content: "";
}
