@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Train+One&display=swap');
@font-face {
    font-family: 'Young20s';
    font-display: swap;
    src: url('/assets/Young 20s.otf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Write your styles below this line. */
.linenumber {
    @apply mr-5;
    @apply border-r;
}

.prose ul > li.list-none::before,
.prose ol > li.list-none::before {
    display: none;
}
.prose ul > li.list-none,
.prose ol > li.list-none {
    padding-left: 0;
}

@media print {
    .prose ul > li,
    .prose ol > li {
        padding-left: 0;
    }
    .prose ul > li::before,
    .prose ol > li::before {
        display: none;
    }
}

.prose code {
    @apply font-mono;
    @apply text-sm;
    @apply inline;
    @apply bg-gray-200;
    @apply rounded;
    @apply px-1;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.prose code::before, .prose code::after {
    content: "";
}
