<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body class="flex justify-between flex-col min-h-screen">

    <div>
        {%- include header.html -%}
        <div class="flex justify-center">
            <div></div>
            <main class="w-1/3 text-lg leading-loose my-10" aria-label="Content">
            {{ content }}
            </main>
            <div></div>
        </div>

    </div>

    {%- include footer.html -%}
</body>
</html>

