---
layout: default
---
<article class="pt-5 mb-40 md:mb-auto" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="-mx-3 md:mx-0 h-40 md:h-64 bg-gray-800 mb-10 px-2 md:px-8 rounded-lg bg-cover bg-center text-white flex content-center items-center"
		{%- if page.image -%} style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{ page.image }}')" {%- endif -%}
	>
	<div>
		<h1 class="text-4xl md:text-6xl font-bold font-welcome" itemprop="name headline">{{ page.title | escape }}</h1>
		<p class="ml-10 font-bold text-sm">
			{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
					Published on: {{ page.date | date: date_format }}
				</time>
			{%- if page.modified_date -%}
			~
			{%- assign mdate = page.modified_date | date_to_xmlschema -%}
				<time datetime="{{ mdate }}" itemprop="dateModified">
					Modified on: {{ mdate | date: date_format }}
				</time>
			{%- endif -%}
		</p>
	</div>
	</header>

	<div class="markdown px-5" itemprop="articleBody">
		{{ content }}
	</div>
</article>
